footer a{
    color:#520968;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%; 
    
}
.instagram{
    margin-top: 10%;
}
.github{
    margin-bottom: 10%;
}

footer h1{
    color:#520968;
    display: flex;
    margin-left: 10%;
    justify-content: flex-start;
    align-items: center;
    font-size: 100%;
}

footer h1{grid-area: Aliz-autor;}
.instagram{grid-area: instagram;}
.github{grid-area: github;}

footer{
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: #b300e900;
    backdrop-filter: blur(15px);
    display: grid;
    grid-template-columns:  80% 20%;
    grid-template-areas: 
        'Aliz-autor instagram'
        'Aliz-autor github';
    row-gap: 20%;
    width: 100%;
    
}